* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
